<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carte des Casernes</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="carte.css" media="all" />

    <script src="leaflet-routing-machine.js"></script>




</head>

<body>
    <div id="mapid"></div>

    <div id="ajouts_vehicules">

        
            <form action="/static">
                <div class="title">
                    <i class="fas fa-pencil-alt"></i>
                    <h2>Nouveau véhicule</h2>
                </div>
                <select id="Type">
                    <option value="CAR" selected >CAR</option>
                    <option value="FIRE-ENGIN" >FIRE-ENGIN</option>
                    <option value="PUMPER_TRUCK" >PUMPER_TRUCK</option>
                    <option value="WATER_TENDER" >WATER_TENDER</option>
                    <option value="TURNTABLE_LADDER_TRUCK" >TURNTABLE_LADDER_TRUCK</option>
                    <option value="TRUCK" >TRUCK</option>
                  </select>
                <div class="info">
                    <input class="number" type="number" name="CrewMember" placeholder="CrewMember" id="CrewMember">
                    <input type="number" name="namfuele" placeholder="fuel" id="fuel">
                    <input type="text" name="lat" placeholder="lat" id="lat">
                    <input type="text" name="lon" placeholder="lon" id="lon">
                    <input type="number" name="liquidQuantity" placeholder="liquidQuantity" id="liquidQuantity">
                    <select>
                        <option value="course-type" selected>Type de liquide</option>
                        <option value="masters-degree">all</option>
                      </select>
                
                </div>

                <button type="button" onclick="send()" >Ajouter le véhicule</button>
            </form>


            

    
            <form action="/static">
                <div class="title">
                    <i class="fas fa-pencil-alt"></i>
                    <h2>Supprimer un véhicule</h2>
                </div>

                <div class="info">
                    <input class="number" type="number" name="name" placeholder="Id du véhicule">
                
                </div>

                <button type="submit" href="/">Supprimer le véhicule</button>
            </form>
        
    

            <form>
                <fieldset>
                    <legend>Couches</legend>
                    <div>
                        <input type="checkbox" id="pizzeria" name="interest" value="pizzeria" >
                        <label for="pizzeria">Afficher seulement les feux à moins de 5 km de la caserne </label>
                    </div>
                    <div>
                        <input type="checkbox" id="sport" name="interest" value="sport" checked>
                        <label for="sport">Casernes</label>
                    </div>
                    <div>
                        <input type="checkbox" id="sport" name="interest" value="sport" checked>
                        <label for="sport">Casernes</label>
                    </div>
                </fieldset>
            </form>

    </div>

    <script src="jquery-3.3.1.min.js"></script>
    <script src="carte.js"></script>

</body>

</html>